body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: green;
    color: white;
    padding: 2em; /* Increased padding */
    position: relative;
    text-align: center;
    height: 50vh; /* 50% of viewport height */
}

.logo {
    position: absolute;
    top: 5px;
    left: 10px;
}

.logo img {
    height: 40px;
}

h1.header-text {
    font-size: 4em; /* Increased font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Align items horizontally */
}

nav ul li {
    margin: 10px 0; /* Adjusted margin */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em; /* Adjusted font size */
}

main {
    padding: 1em;
    min-height: calc(100vh - 330px); /* Adjusted height to fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    margin-bottom: 2em;
}

#welcome h2,
#welcome p,
.footer-text {
    font-size: 2em; /* Increased font size */
}

.form-container {
    text-align: center;
    margin-top: 20px;
}

.search-box {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    width: 70%;
    height: 100%;
}

.form-container button {
    padding: 15px 25px;
    font-size: 18px;
    border: 2px solid green;
    border-radius: 25px;
    background-color: white;
    color: darkgreen;
    cursor: pointer;
    height: 100%;
    width: 30%;
}

.form-container button:hover {
    background-color: green;
    color: white;
    transform: scale(1.05);
    transition: background-color 0.3s, color 0.3s;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

