body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: green;
    color: white;
    padding: 1em;
    position: relative;
    text-align: center;
    height: 50vh; /* Header takes half of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    height: 100px; /* Increased size for visibility */
}

h1 {
    font-size: 6em; /* Significantly increased font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em; /* Significantly increased font size */
}

main {
    padding: 1em;
}

section#welcome {
    text-align: center;
    margin-bottom: 2em;
}

section#welcome h2 {
    font-size: 5em; /* Significantly increased font size */
}

section#welcome p {
    font-size: 2.5em; /* Significantly increased font size */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.form-container {
    text-align: center;
    margin-top: 20px;
}

.form-container input[type="text"] {
    padding: 20px; /* Increased padding */
    font-size: 24px; /* Increased font size */
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 100%; /* Full width for responsive design */
    max-width: 400px; /* Maximum width */
}

.form-container button {
    padding: 20px 30px; /* Increased padding */
    font-size: 24px; /* Increased font size */
    border: 1px solid green;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: white;
    color: darkgreen;
    cursor: pointer;
    width: auto; /* Auto width for responsive design */
}

.form-container button:hover {
    background-color: green;
    color: white;
    transform: scale(1.05);
    transition: background-color 0.3s, color 0.3s;
}

/* Responsive styles */
@media (max-width: 800px) {
    .logo {
        position: static;
        display: block;
        margin: 0 auto;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    .form-container input[type="text"] {
        width: 100%; /* Full width for smaller screens */
    }
    
    .form-container button {
        width: 100%; /* Full width for smaller screens */
        border-radius: 0 0 4px 4px;
        border-left: 1px solid green;
        border-top: none;
    }
}
